@use "global" as *;

.aboutUs {
    position: relative;
}
.aboutUs-top {
    margin-top: rem(80);
    @include mq(md) {
        margin-top: rem(132);
    }
}
.aboutUs__inner {
    max-width: rem(600);
    width: 100%;
    @include mq(md) {
    max-width: initial;
    }
}
.aboutUs__img-block {
    margin-top: rem(27);
    @include mq(md) {
        margin-top: rem(37);
    }
}
.aboutUs__img.aboutUs__img--left {
    width: 36.26%;
    height: 91.51%;
    position: relative;
    @include mq(md) {
        max-width: rem(399);
        width: 37.389%;
        max-height: rem(606);
        height: 89.645%;
    }
}
.aboutUs__img---left img {
    aspect-ratio: 132/194;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 399/606;
    }
}
.aboutUs__img.aboutUs__img--right {
    width: 81.45%;
    height: 87.736%;
    margin-top: -47.264%;
    margin-left: 18.8%;
    @include mq(md) {
        max-width: rem(880);
        width: 81%;
        max-height: rem(581);
        height: 87%;
        margin-top: -48.464%;
        margin-left: 18.55%;
    }
}
.aboutUs__img--right img {
    aspect-ratio: 281/186;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 880/581;
    }
}
.aboutUs__text-body {
    margin-top: rem(40);
    @include mq(md) {
        max-width: rem(840);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(40);
        position: absolute;
        top: 56.5%;
        left: 55.5%;
        transform: translate(-50%, -50%);
        margin-top: 0;
    }
}
.aboutUs__text--main {
    font-size: rem(40);
    font-family: $english-font;
    color: $accent;
    line-height: 1;
    @include mq(md) {
        font-size: rem(80);
        line-height: 1.25;
        color: $white;
        line-height: 1.2;
    }
}
.aboutUs__text {
    line-height: 1.5;
    @include mq(md) {
        color: $white;
    }
}
.aboutUs__text-info {
    margin-top: 1rem;
    @include mq(md) {
        margin-top: 0;
    }
}
.aboutUs__btn {
    margin-top: rem(18);
    @include mq(md) {
        margin-top: rem(36);
    }
}
.aboutUs__bg img {
    width: rem(194);
    height: rem(181);
    position: absolute;
    bottom: rem(-94);
    right: rem(83);
}