@use "global" as *;

.archive-voice__mv {
  background-image: url(../images/common/voice-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/voice-mv.jpg);
  }
}
.archive-voice__tag {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem rem(11);
  @include mq(md) {
      gap: 1rem rem(32);
  }
}
.archive-voice__items {
  margin-top: rem(40);
}
.archive-voice .voice-card__list {
  gap: rem(40);
  margin: auto;
  @include mq(md) {
    gap: rem(80) rem(40);
    // margin: initial;
  }
}
.archive-voice__item .voice-card__title h2 {
  font-size: 1rem;
  font-weight: $medium;
  border-bottom: 1px solid $accent;
  @include mq(md) {
    font-size: rem(24);
    margin-top: rem(8);
  }
}