@use "global" as *;

.archive-campaign__mv {
    background-image: url(../images/common/campaign-sp.jpg);
    @include mq(md) {
        background-image: url(../images/common/campaign-mv.jpg);
    }
}
.archive-campaign__card {
    max-width: rem(600);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(40);
    margin: auto;
    margin-top: rem(40);
    @include mq(md) {
        max-width: rem(1130);
        grid-template-columns: repeat(2, 1fr);
        gap: rem(80) rem(40);
    }
}
.archive-campaign__tag {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem rem(11);
    @include mq(md) {
        gap: 1rem rem(32);
    }
}
.archive-campaign__category:hover {
    background-color: $accent;
    color: $white;
}
.archive-campaign__category.is-active {
    color: $white;
    background-color: $accent;
}
.archive-campaign__category {
    display: flex;
    width: rem(162);
    height: rem(34);
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $accent;
    font-size: rem(14);
    line-height: rem(22);
    border: 1px solid $accent;
    transition: 0.3s color, 0.3s background-color;
}