@use "global" as *;

.article {
  @include mq(md) {
    display: grid;
    grid-template-columns: 64.8% 27.2%;
    gap: 8%;
  }
}
.article__blog-cards {
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    max-width: initial;
  }
}
.article__side {
  margin-top: rem(88);
  @include mq(md) {
    margin-top: 0;
  }
}
