@use "global" as *;

.article {
  @include mq(md) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: rem(50);
  }
}
.article__blog-cards {
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    max-width: rem(706);
  }
}
.article__side {
  margin-top: rem(88);
  @include mq(md) {
    margin-top: 0;
  }
}
.article__blog-card .blog-card__item:hover img {
  transform: scale(1.2);
  transition: .3s transform;
}
.article__blog-card .blog-card__item .blog-card__img {
  overflow: hidden;
}
.article__blog-card .blog-card__item:hover::before {
  background-color: initial;
  cursor: pointer;
}