@use "global" as *;

.blog {
    position: relative;
    @include mq(md) {
        padding-top: rem(90);
    }
}
.blog::before {
    @include mq(md) {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: rem(500);
        background-image: url(../images/common/blog-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.blog__inner {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    @include mq(md) {
        padding-left: $padding-pc;
        padding-right: $padding-pc;
        position: relative;
    }
}
.blog__btn {
    margin-top: rem(37);
    padding-bottom: rem(10);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}
