@use "global" as *;

.blog {
    @include mq(md) {
        overflow: hidden;
    }
}
.blog__inner {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    @include mq(md) {
        padding-left: $padding-pc;
        padding-right: $padding-pc;
        position: relative;
    }
}
.blog__title {
    @include mq(md) {
        background-image: url(../images/common/blog-bg.jpg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        height: rem(500);
        padding-top: rem(93);
        width: 100vw;
        margin: 0 calc(50% - 50vw);
    }
}
.blog__btn {
    margin-top: rem(40);
    padding-bottom: rem(10);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}