@use "global" as *;

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: rem(14);
    width: rem(202);
    height: rem(54);
    color: $white;
    font-family: $english-font;
    background-color: $accent;
    border: 1px solid $accent;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .3s transform;
    z-index: -1;
}
.btn::after {
    content: "";
    border: 1px solid $accent;
    position: absolute;
    width: rem(202);
    height: rem(54);
    top: rem(4);
    left: rem(4);
    transition: 0.3s border;
    z-index: -2;
}
.btn:hover {
    color: $accent;
}
.btn span {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem(8);
    width: rem(40);
    height: rem(1);
    background-color: $white;
    border-radius: rem(1);
    position: relative;
    transition: 0.3s background-color;
}
.btn span::after {
    content: "";
    display: block;
    width: rem(10);
    height: rem(1);
    background-color: $white;
    position: absolute;
    top: rem(-3.2);
    right: rem(-1.5);
    border-radius: rem(1);
    transform: rotate(45deg);
    transition: 0.3s background-color;
}
.btn:hover span,
.btn:hover span::after {
    background-color: $accent;
}
.btn:hover::before {
    transform: scale(1, 1);
}
.btn.btn--accent {
    color: $accent;
    background-color: $white;
}
.btn.btn--accent span {
    background-color: $accent;
}
.btn.btn--accent span::after {
    background-color: $accent;
}
.btn.btn--accent::after {
    border: 1px solid $white;
}