@use "global" as *;

.campaign {
    // overflow: hidden;
    @include mq(md) {
        position: relative;
    }
}
.campaign__inner {
    @include mq(md) {
    max-width: rem(1261);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    }
}
.campaign-swiper {
    margin-top: rem(27);
    width: 100%;
    margin-right: calc(50% - 50vw);
    @include mq(md) {
        margin-top: rem(37);
    }
}
.campaign__card {
    display: block;
    max-width: rem(280);
    width: 100%;
    height: auto;
    background-color: $white;
    box-shadow: 0 rem(4) rem(4) rgba($color:#000, $alpha:0.25);
    @include mq(md) {
    max-width: rem(333);
    }
}
.campaign__card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.campaign__btn {
    margin-top: rem(26);
    padding-bottom: rem(10);
    @include mq(md) {
        margin-top: rem(74);
    }
}
.campaign__pagination {
    display: none;
    @include mq(md) {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 1.3%;
        right: 12.4%;
    }
}
.campaign__next {
    margin-left: rem(80);
}
.campaign__prev,
.campaign__next {
    width: rem(80);
    height: rem(80);
    border: 1px solid $accent;
    border-radius: 50%;
}
.campaign__prev span,
.campaign__next span {
    display: inline-block;
    width: rem(40);
    height: rem(1);
    background-color: $accent;
    vertical-align: middle;
    position: relative;
    margin-left: rem(8);
}
.campaign__prev span:before {
    content: "";
    background-color: $accent;
    display: block;
    width: rem(10);
    height: rem(1);
    position: absolute;
    left: 0;
    top: rem(-4);
    transform: rotate(-45deg);
}
.campaign__next span:before {
    content: "";
    background-color: $accent;
    display: block;
    width: rem(10);
    height: rem(1);
    position: absolute;
    right: 0;
    top: rem(-4);
    transform: rotate(45deg);
}
.campaign__slide .campaign-swiper{
    padding-bottom: 10px;
}

.campaign__pagination .swiper-button-next, .swiper-button-prev {
    position: static;
    margin-top: 0;
    z-index: 0;
    color: $accent;
}