@use "global" as *;

.campaign {
    @include mq(md) {
        overflow: hidden;
    }
}
.campaign-top {
    margin-top: $margin-sp;
    @include mq(md) {
        margin-top: $margin-pc;
    }
}
.campaign-swiper {
    margin-top: rem(27);
    @include mq(md) {
        margin-top: rem(40);
        width: 100vw;
        margin-right: calc(50% - 50vw);
        // overflow: hidden;
    }
}
.campaign__card {
    max-width: rem(280);
    width: 100%;
    background-color: $white;
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    @include mq(md) {
    max-width: rem(333);
    }
}
.campaign__btn {
    margin-top: $margin-sp;
    @include mq(md) {
        margin-top: $margin-pc;
    }
}