@use "global" as *;

.card__img img {
    aspect-ratio: 280/188;
    width: rem(280);
    height: rem(188);
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 333/223;
        width: rem(333);
        height: rem(223);
    }
}
.card__category {
    display: inline-block;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.83;
    color: $accent;
    border: 1px solid $accent;
    padding: rem(3) rem(11);
    @include mq(md) {
        padding: rem(5) 1rem;
    }
}
.card__title {
    font-weight: $medium;
    line-height: 1.5;
    margin-top: rem(4);
}
.card__body {
    padding: rem(16) rem(15) ;
    @include mq(md) {
        padding: rem(24) 1rem rem(42);
    }
}
.card__text {
    font-size: rem(14);
    line-height: 2;
    border-top: 1px solid $accent;
    padding-top: rem(7);
    margin-top: rem(6);
    @include mq(md) {
        margin-top: rem(6);
        padding-top: rem(14);
        font-size: 1rem;
    }
}
.card__text.card__text--center {
    text-align: center;
}
.card__price-block {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: rem(-1);
    @include mq(md) {
        line-height: 1;
        align-items: end;
    }
}
.card__price {
    font-size: 2rem;
    font-weight: bold;
    font-family: $english-font2;
    color: $accent;
    @include mq(md) {
        font-size: rem(40);
    }
}
.card__price-decoration {
    font-family: $english-font2;
    font-size: rem(20);
    font-weight: bold;
    text-decoration: line-through 3px solid $red;
    @include mq(md) {
        font-size: rem(24);
    }
}
.voice__card-category .card__title {
    margin-top: rem(5);
}