@use "global" as *;

.card-text {
    @include mq(md) {
        display: flex;
        flex-direction: column;
        padding: 0 rem(23) rem(43);
    }
}
.card-text__block {
    color: $accent;
    text-align: center;
    @include mq(md) {
        margin-top: rem(30);
    }
}
.card-text__explanation {
    @include mq(md) {
        flex-grow: 1;
        margin-top: rem(25);
    }
}
.card-text__period {
    line-height: 1.125;
    letter-spacing: 0.03em;
    font-family: $english-font2;
}
.card-text__info {
    font-size: rem(14);
    line-height: 1.2857;
    margin-top: rem(10);
}
.card-text__btn {
    margin-top: 1rem;
}