@use "global" as *;

.contact-form__items {
  border-bottom: 1px dashed $accent;
  padding-bottom: rem(24);
  @include mq(md) {
    display: flex;
    padding-bottom: rem(40);
  }
}
.contact-form__items:not(:first-of-type) {
  padding: rem(24) 0;
  @include mq(md) {
    padding: rem(40) 0;
  }
}
.contact-form__item {
  border: 1px solid $accent;
  padding: rem(5) rem(8);
  margin-top: 1rem;
  @include mq(md) {
    margin-top: 0;
    width: 68.6%;
  }
}
.contact-form__item input {
  width: 100%;
}
.contact-form__title {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  @include mq(md) {
    width: 31.4%;
  }
}
.contact-form__title span {
  font-size: rem(12);
  padding: rem(2) 1rem;
  background-color: $red;
  color: $white;
  margin-left: rem(8);
}
.contact-form__select-item {
  border: 1px solid $accent;
  font-size: rem(12);
  position: relative;
  width: 100%;
  padding: rem(7) 1rem rem(8);
}
.contact-form__item.contact-form__item--border-none {
  border: none;
  padding: 0;
}
.contact-form__checkbox span {
  margin-left: rem(8);
}
.contact-form__select {
  position: relative;
}
.contact-form__select::after {
  content: "";
  border-left: rem(7) solid transparent;
  border-right: rem(7) solid transparent;
  border-top: rem(12) solid $accent;
  display: inline-block;
  position: absolute;
  top: rem(12);
  right: rem(10);
  transition: 0.3s transform;
}
.contact-form__select:hover::after {
  transform: scale(1.2, 1.2)
}
.contact-form__item textarea {
  width: 100%;
  height: rem(180);
  resize: none;
  @include mq(md) {
    height: rem(200);
  }
}
.contact-form__btn {
  margin-top: rem(24);
  text-align: center;
  padding-bottom: rem(5);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.contact-form__alert {
  color: $red;
  margin-bottom: rem(40);
  text-align: center;
  display: none;
  background-color: $red;
}
