@use "global" as *;

.contact-form__items {
  border-bottom: 1px dashed $accent;
  padding-bottom: rem(24);
  @include mq(md) {
    display: flex;
    padding-bottom: rem(40);
  }
}
.contact-form__items:not(:first-of-type) {
  padding: rem(24) 0;
  @include mq(md) {
    padding: rem(40) 0;
  }
}
.contact-form__item {
  border: 1px solid $accent;
  padding: rem(5) rem(8);
  margin-top: 1rem;
  @include mq(md) {
    margin-top: 0;
    width: 68.6%;
  }
}
.contact-form__item input {
  width: 100%;
}
.contact-form__title {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  @include mq(md) {
    width: 31.4%;
  }
}
.contact-form__title span {
  font-size: rem(12);
  padding: rem(2) 1rem;
  background-color: $red;
  color: $white;
  margin-left: rem(8);
}
.contact-form__radio {
  position: relative;
  display: flex;
  align-items: center;
  gap: rem(8);
}
.contact-form__radio::before {
  content: "";
  width: rem(14);
  height: rem(14);
  border: 1px solid $accent;
  display: inline-block;
}
.contact-form__radio input:checked + span::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: rem(10);
  height: rem(10);
  background-color: $accent;
  position: absolute;
  left: rem(2);
  top: 50%;
  transform: translateY(-50%);
}
.contact-form__select-item {
  border: 1px solid $accent;
  font-size: rem(12);
  position: relative;
  width: 100%;
  padding: rem(7) 1rem rem(8);
}
.contact-form__item.contact-form__item--border-none {
  border: none;
  padding: 0;
}
.contact-form__checkbox span {
  margin-left: rem(8);
}
.contact-form__select {
  position: relative;
}
.contact-form__select::after {
  content: "";
  border-left: rem(7) solid transparent;
  border-right: rem(7) solid transparent;
  border-top: rem(12) solid $accent;
  display: inline-block;
  position: absolute;
  top: rem(12);
  right: rem(10);
  transition: 0.3s transform;
}
.contact-form__select:hover::after {
  transform: scale(1.2, 1.2)
}
.contact-form__item textarea {
  width: 100%;
  height: rem(180);
  resize: none;
  @include mq(md) {
    height: rem(200);
  }
}
.contact-form__consent {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
.contact-form__consent-text span::before {
  display: inline-block;
  content: "";
  width: rem(20);
  min-width: rem(20);
  height: rem(20);
  border: 1px solid $accent;
  margin-top: rem(2);
  @include mq(md) {
    // margin-top: 0;
  }
}
.contact-form__consent-text span{
  display: flex;
  gap: rem(8);
  position: relative;
  @include mq(md) {
    justify-content: center;
  }
}
.contact-form__consent-text input:checked + span::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 1%;
  display: block;
  opacity: 1;
  transform: rotate(-45deg);
  width: rem(9);
  height: rem(6);
  margin-top: -0.1em;
  margin-left: 0.1em;
  border-left: rem(2) solid $red;
  border-bottom: rem(2) solid $red;
  @include mq(md) {
    top: 35%;
    left: 18.6%;
  }
}
.contact-form__btn {
  margin-top: rem(24);
  text-align: center;
  padding-bottom: rem(5);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.contact-form__alert {
  color: $red;
  margin-bottom: rem(40);
  text-align: center;
  display: none;
}
