@use "global" as *;

.drawer {
    position: fixed;
    top: rem(80);
    left: 0;
    width: 100%;
    height: 100dvh;
    height: 100vh;
    min-height: rem(200);
    display: none;
    background-color: $accent;
    overflow-y: scroll;
    padding: rem(8) 0 rem(111);
}
.drawer__nav {
    display: flex;
    justify-content: center;
    gap: 1%;
    max-width: rem(600);
    width: 100%;
    margin: auto;
}

