@use "global" as *;

.drawer {
    position: fixed;
    top: rem(0);
    left: 0;
    width: 100%;
    padding-top: rem(80);
    // display: none;
    background-color: $accent;
}
.drawer__inner {
    padding: 0 rem(15);
}
.drawer__nav {
    display: flex;
    justify-content: center;
    gap: 1%;
    max-width: rem(600);
    width: 100%;
    height: 100dvh;
    height: 100vh;
    min-height: rem(200);
    margin: auto;
    overflow-y: scroll;
    padding: rem(10) 0 rem(60);
}

