@use "global" as *;

.fv__img {
    min-height: rem(200);
}
.fv__img img {
    aspect-ratio: 1440/769;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.fv__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    @include mq(md) {
        top: 55%;
        left: 50%;
        animation: text-focus-in 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    @-webkit-keyframes text-focus-in {
        0% {
            filter: blur(12px);
            opacity: 0;
        }
        100% {
            filter: blur(0px);
            opacity: 1;
        }
    }
    @keyframes text-focus-in {
        0% {
            filter: blur(12px);
            opacity: 0;
        }
        100% {
            filter: blur(0px);
            opacity: 1;
        }
    }
}
.fv__title-main {
    font-size: rem(40);
    font-weight: $regular;
    font-family: $english-font2;
    letter-spacing: 0.52em;
    text-indent: 0.52em;
    line-height: 1.2;
    text-transform: uppercase;
    color: $white;
    @include mq(md) {
        font-size: rem(80);
        line-height: 1.25;
    }
}
    .fv__title-main.fv__title-main--green {
        @include mq(md) {
            color: $accent;
            font-weight: $medium;
        }
    }
.fv__title-sub {
    font-size: rem(20);
    color: $white;
    font-family: $english-font;
    text-align: center;
}
.fv__title-sub.fv__title-sub--green {
    @include mq(md) {
        color: $accent;
    }
}
.fv__inner {
    @include mq(md) {
        width: 100%;
        height: 100vh;
        min-height: rem(400);
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.fv__title-start {
    @include mq(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -45%);
    }
}