@use "global" as *;

.heading {
    position: relative;
    top: 62%;
    transform: translateY(-62%);
    text-align: center;
    font-size: rem(80);
    font-weight: $regular;
    font-family: $english-font2;
    color: $white;
    text-transform: capitalize;
    // letter-spacing: 0.52em;
    // text-indent:0.52em;
}