@use "global" as *;

.header {
    width: 100%;
    height: rem(80);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: $font, $alpha: 0.68);
    transition: 0.3s background-color;
    z-index: 998;
    @include mq(md) {
        height: rem(90);
    }
}
.header.is-active {
    background-color: $accent;
}
.header__inner {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(md) {
        height: inherit;
        padding: 0 rem(20);
    }
}
.header__logo {
    height: inherit;
    padding: 0 rem(15);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    @include mq(md) {
        padding: 0 rem(20);
    }
}
.header__logo img {
    aspect-ratio: 102/38;
    max-width: rem(102);
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 133/50;
        max-width: rem(133);
    }
}
.header__nav {
    height: inherit;
}
.header__items {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__item {
    height: inherit;
}
.header__item a {
    height: inherit;
    padding: 0 clamp(rem(1), rem(20), rem(20));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

.header__item a::after {
    background-color: $white;
    bottom: rem(15);
    content: "";
    height: rem(1);
    left: 20%;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
    width: 60%;
}
.header__item a:hover::after {
    transform: scale(1, 1);
}

.header__item--en {
    font-size: rem(18);
    font-family: $english-font;
    font-weight: $regular;
    text-transform: capitalize;
    color: $white;
}
.header__item--ja {
    font-family: $base-font;
    font-size: rem(10);
    line-height: 150%;
    color: $white;
}
.header.headerColorScroll {
    background-color: #9a9a9a;
    transition: 0.3s background-color;
    opacity: 1;
}