@use "global" as *;

.home__mv {
  background-image: url(../images/common/blog-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/blog-mv.jpg);
  }
}
.home__block {
  position: relative;
  z-index: -1;
  @include mq(md) {
    z-index: 0;
  }
}
