@use "global" as *;

.home__mv {
  background-image: url(../images/common/blog-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/blog-mv.jpg);
  }
}
.home__inner {
  @include mq(md) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
.home__block {
  margin-top: rem(51);
  position: relative;
  z-index: -1;
  @include mq(md) {
    z-index: 0;
  }
}
.home__items .blog-cards__items {
  grid-template-columns: repeat(1fr);
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.home__side {
  margin-top: rem(88);
  @include mq(md) {
    
  }
}
.home__items .blog-card__item:hover img {
  transform: scale(1.2);
  transition: .3s transform;
}
.home__items .blog-card__item .blog-card__img {
  overflow: hidden;
}
.home__items .blog-card__item:hover::before {
  background-color: initial;
  cursor: pointer;
}