@use "global" as *;

.information {
    background-color: $light;
    position: relative;
}
.information__inner {
    max-width: rem(600);
    width: 100%;
    padding-top: rem(80);
    padding-bottom: rem(76);
    @include mq(md) {
        max-width: 100%;
        width: 100%;
        padding-top: rem(94.5) ;
        padding-bottom: rem(100) ;
    }
}
.information__img-block {
    margin-top: rem(32);
    @include mq(md) {
        margin-top: rem(42);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(48);
    }
}
.information__img {
    position: relative;

}
.information__img .color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $accent;
}
.information__img img {
    aspect-ratio: 345/227;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 540/356;
    }
}
.information__text-body {
    padding-top: rem(31);
    @include mq(md) {
        padding-top: rem(60);
    }
}
.information__title {
    font-size: rem(20);
    font-weight: bold;
    line-height: 1.2;
    @include mq(md) {
        font-size: rem(24);
    }
}
.information__text {
    line-height: 1.5;
    padding-top: rem(7);
    border-top: 1px solid $accent;
    margin-top: rem(3);
    text-transform: uppercase;
    @include mq(md) {
        margin-top: rem(5);
        padding-top: rem(7);
    }
}
.information__btn {
    margin-top: rem(40);
    padding-bottom: rem(10);
    text-align: center;
}

.information__text-body.information__text-body--margin {
    padding-top: 0;
    @include mq(md) {
        padding-top: rem(31);
    }
}
.information__title.information__title--big {
    font-size: rem(24);
}
.information__img.information__img--margin {
    margin-top: rem(6);
    @include mq(md) {
        margin-top: 0;
    }
}