@use "global" as *;

.information {
    background-color: $light;
    width: 100%;
    position: relative;
    z-index: -2;
}
.information-top {
    margin-top: rem(86);
    @include mq(md) {
        margin-top: rem(193);
    }
}
.information__inner {
    padding-top: rem(80);
    padding-bottom: rem(80);
    @include mq(md) {
        padding-top: rem(100) ;
        padding-bottom: rem(100) ;
    }
}
.information__img-block {
    margin-top: rem(32);
    @include mq(md) {
        margin-top: rem(42);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.information__img {
    position: relative;

}
.information__img .color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $accent;
}
.information__img img {
    aspect-ratio: 345/227;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 540/356;
    }
}
.information__text-body {
    margin-top: rem(24);
    @include mq(md) {
        padding-top: rem(35);
        margin-left: 3rem;
    }
}
.information__title {
    font-size: rem(20);
    font-weight: bold;
    line-height: 1.2;
    @include mq(md) {
        font-size: rem(24);
    }
}
.information__text {
    line-height: 1.5;
    padding-top: rem(8);
    border-top: 1px solid $accent;
    margin-top: rem(4);
    text-transform: uppercase;
    @include mq(md) {
        margin-top: rem(6);
        padding-top: rem(7);
    }
}
.information__btn {
    text-align: center;
    margin-top: rem(40);
    padding-bottom: rem(10);
}