@use "global" as *;

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-image img{
  aspect-ratio: 920 /586;
  width: 100%;
  height: 100%;
  object-fit: cover;
}