@use "global" as *;

.mv {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: rem(460);
    position: relative;
    @include mq(md) {
        height: rem(548);
    }
}
.mv::before {
    content: "";
    background-image: url(../images/common/fish2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 31%;
    height: 12%;
    position: absolute;
    bottom: rem(-109);
    left: calc(50% - min(45vw, 60%));
    @include mq(md) {
        width: 21%;
        height: 30%;
        bottom: rem(-271);
    }
}