@use "global" as *;

.navigation__img {
    width: rem(18);
    height: rem(18);
    padding-top: rem(4);
    flex-grow: 1;
}
.navigation__text {
    width: 100%;
    padding-left: rem(4);
}
.navigation__item a {
    color: $white;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: rem(10) 0 rem(10);
}
.navigation__text--bold {
    font-weight: bold;
}
.navigation__item {
    display: block;
}
.navigation__text-blank {
    padding-left: rem(18);
    display: block;
    width: 100%;
    cursor: pointer;
}
.navigation__items {
    display: block;
    width: 50%;
}
.navigation__block {
    @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.navigation__item a:hover{
    opacity: .6;
}
.navigation__item.navigation__item--top {
    margin-top: rem(13);
}