@use "global" as *;

.nextpostslink {
    position: relative;
}
.nextpostslink::after {
    content: "";
    left: rem(5);
    top: rem(13);
    width: rem(12);
    height: rem(12);
    border-top: 1px solid $accent;
    border-right: 1px solid $accent;
    transform: rotate(45deg);
    position: absolute;
    display: inline-block;
}
.nextpostslink:hover::after {
	border-top: 1px solid $white;
    border-right: 1px solid $white;
    transition: .3s border-top,border-right;
}