@use "global" as *;

.page-top-button {
    position: fixed;
    z-index: 9000;
    right: 50px;
    bottom: 20px;
    width: rem(80);
    height: rem(80);
    border: 1px solid $accent;
    border-radius: 50%;
    // cursor: pointer;
    // background-color: transparent;
}
.page-top-button span {
    display: inline-block;
    width: rem(1);
    height: rem(40);
    background-color: $accent;
    left: 50%;
    top: 20%;
    position: relative;
}
.page-top-button span::before {
    content: "";
    background-color: $accent;
    display: block;
    width: rem(10);
    height: rem(1);
    position: absolute;
    transform: rotate(-45deg);
    right: -1%;
    top: 7%;
}

