@use "global" as *;

.page-terms-of-service__mv {
  background-image: url(../images/common/siteMap-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/siteMap-mv.jpg);
  }
}
.page-terms-of-service__inner {
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    width: rem(850);
  }
}
