@use "global" as *;

.page-top-button {
    position: fixed;
    z-index: 900;
    right: rem(20);
    bottom: rem(578);
    width: rem(80);
    height: rem(80);
    border: 1px solid $accent;
    border-radius: 50%;
    // cursor: pointer;
    // background-color: transparent;
}
.page-top-button span {
    display: inline-block;
    width: rem(1);
    height: rem(40);
    background-color: $accent;
    left: 50%;
    top: 25%;
    position: relative;
}
.page-top-button span::before {
    content: "";
    background-color: $accent;
    display: block;
    width: rem(10);
    height: rem(1);
    position: absolute;
    transform: rotate(-45deg);
    right: -1%;
    top: 7%;
}

