@use "global" as *;

.page-price__mv {
  background-image: url(../images/common/price-mvsp.jpg);
  @include mq(md) {
    background-image: url(../images/common/price-mv.jpg);
  }
}
.page-price__inner.inner {
  @include mq(md) {
    max-width: rem(750);
  }
}
.page-price__body {
  @include mq(md) {
    display: flex;
    justify-content: center;
  }
}
.page-price__body:not(:first-of-type) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
.page-price__items {
  @include mq(md) {
    width: 71.5%;
  }
}
.page-price__item {
  display: flex;
  border-bottom: 1px solid $accent;
  border-right: 1px solid $accent;
  border-left: 1px solid $accent;
  @include mq(md) {
    padding-left: 1rem;
  }
}
.page-price__item:first-of-type {
  border-top: 1px solid $accent;
}
.page-price__title-body {
  background-color: $accent;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
      width: 28.5%;
  }
}
.page-price__title {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: rem(8);
  color: $white;
  font-size: 1rem;
  line-height: 1.5;
  padding: rem(8) 0;
  @include mq(md) {
    flex-direction: column;
    padding: 0;
  }
}
.page-price__title::after {
  background-image: url(../images/common/fish-point1.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: rem(24);
  height: rem(24);
  display: inline-block;
  @include mq(md) {
    width: rem(61);
    height: rem(54.46);
  }
}
.page-price__matter {
  text-align: center;
  border-right: 1px solid $accent;
  width: 69.5%;
  padding: rem(22) 0;
  @include mq(md) {
    width: 68%;
  }
}
.page-price__price {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 30.5%;
  padding: rem(22) 1rem;
  @include mq(md) {
    width: 32%;
  }
}