@use "global" as *;

.page-aboutUs__mv {
  background-image: url(../images/common/aboutus-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/page-aboutus-mv.jpg);
  }
}
.page-aboutUs__inner {
  position: relative;
}
.page-aboutUs__img-sp {
  max-width: rem(600);
  width: 100%;
  margin-top: 0;
  padding-top: rem(52);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.page-aboutUs__img.aboutUs__img::after {
  background-image: none;
}
.page-aboutUs__inner .aboutUs__text-body {
  @include mq(md) {
    top: 2.6%;
  }
}
.page-aboutUs__img-sp {
  width: 100%;
  position: relative;
}
.page-aboutUs__img-sp img {
  aspect-ratio: 345/228;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-aboutUs__text-body .aboutUs__text-main {
  position: absolute;
  top: 5%;
  left: 10%;
  color: $white;
  @include mq(md) {
    position: initial;
  }
}
// .page-aboutUs__text-body .aboutUs__text {
//   @include mq(md) {
//     margin-top: rem(50);
//   }
// }
.page-aboutUs__text-body .aboutUs__text-info {
  margin-top: rem(45);
  @include mq(md) {
    
  }
}
// .page-aboutUs__title {
//   margin-top: 2rem;
//   @include mq(md) {
//     margin-top: rem(108);
//   }
// }
// .page-abooutU__garelly-block1 {
//   @include mq(md) {
//     display: grid;
    
//   }
// }
// .page-aboutUs__photo1 {
//   margin-top: rem(40);
//   @include mq(md) {
//     aspect-ratio: 746/492;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }
// .page-aboutU__photo2 {
//   @include mq(md) {
//     aspect-ratio: 580/369;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }
