@use "global" as *;

.page-contact__mv {
  background-image: url(../images/common/contact-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/contact-mv.jpg);
  }
}
.page-contact__inner.inner {
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    max-width: rem(750);
  }
}
