@use "global" as *;

.page-faq__mv {
  background-image: url(../images/common/faq-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/faq-mv.jpg);
  }
}
.page-faq__inner.inner {
  position: relative;
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    max-width: rem(750);
  }
}
