@use "global" as *;


.previouspostslink {
    position: relative;
}
.previouspostslink::before {
    content: "";
    left: rem(13);
    top: rem(13);
    width: rem(12);
    height: rem(12);
    border-top: 1px solid $accent;
    border-right: 1px solid $accent;
    transform: rotate(-135deg);
    position: absolute;
    display: inline-block;
}
.previouspostslink:hover::before {
	border-top: 1px solid $white;
    border-right: 1px solid $white;
    transition: .3s border-top,border-right;
}
