@use "global" as *;

.price {
    background-color: $light;
    @include mq(md) {
        position: relative;
    }
}
.price-top {
    margin-top: rem(84);
    padding-top: rem(76);
    padding-bottom: rem(84);
    @include mq(md) {
        padding-top: rem(93);
        padding-bottom: rem(100);
        margin-top: rem(140);
    }
}
.price__img-sp {
    margin-top: rem(27);
}
.price__img-sp img {
    aspect-ratio: 345/227;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.price__img-pc img {
    @include mq(md) {
        aspect-ratio: 746/492;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.price__heading {
    border-bottom: 1px solid $accent;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.9;
    @include mq(md) {
        line-height: 1.6;
    }
}
.price__heading:not:not(:first-of-type) {
    margin-top: rem(38);
}
.price__items {
    font-size: rem(14);
    padding-top: rem(8);
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
    @include mq(md) {
        max-width: rem(492);
        font-size: 1rem;
        padding-top: rem(9);
        line-height: 1.5;
        width: 100%;
    }
}
.price__item{
    line-height: 1.5;
}
.price__list--block {
    margin-top: rem(37);
    @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8.89%;
        margin-top: rem(38);
    }
}
.price__img {
    max-width: rem(492);
    width: 100%;
    height: 100%;
}
.price__img-pc img {
    @include mq(md) {
        aspect-ratio: 492/746;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.price__btn {
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(80);
    }
}
.price__bg {
    width: rem(437);
    height: rem(201);
    position: absolute;
    bottom: 4.3%;
    left: 7%;
}
.price__bg img {
    aspect-ratio: 437/201;
    width: 100%;
    height: 100%;
    object-fit: cover;
}