@use "global" as *;

.price {
    background-color: $light;
    position: relative;
}
.price__inner {
    max-width: rem(600);
    width: 100%;
    position: relative;
    @include mq(md) {
        max-width: rem(1130);
        width: 100%;
    }
}
.price__img-sp {
    margin-top: rem(30);
    @include mq(md) {
        margin-top: rem(27);
    }
}
.price__img-sp img {
    aspect-ratio: 345/227;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.price__img-pc img {
    @include mq(md) {
        aspect-ratio: 746/492;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.price__img-pc {
    position: relative;
}
.price__img-pc .color {
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
z-index: 2;
background-color: $accent;
}
.price__heading {
    border-bottom: 1px solid $accent;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.9;
    @include mq(md) {
        line-height: 1.8;
    }
}
.price__heading:not(:first-of-type) {
    margin-top: rem(39);
    @include mq(md) {
        margin-top: rem(38);
    }
}
.price__items {
    font-size: rem(14);
    margin-top: rem(9);
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
    gap: rem(30);
    @include mq(md) {
        max-width: rem(492);
        font-size: 1rem;
        margin-top: rem(8);
        line-height: 1.5;
        width: 100%;
    }
}
.price__item{
    line-height: 1.5;
}
.price__list-block {
    margin-top: rem(43);
    @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8.89%;
        margin-top: rem(37);
    }
}
.price__img {
    max-width: rem(492);
    width: 100%;
    height: 100%;
}
.price__img-pc img {
    @include mq(md) {
        aspect-ratio: 492/746;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.price__btn {
    margin-top: rem(40);
    padding-bottom: rem(10);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}
.price-bg {
    @include mq(md) {
        max-width: 38.7%;
        width: 100%;
        position: absolute;
        bottom: rem(-37);
        left: calc(50% - min(48vw, 55%));
    }
}
.price-bg img {
    aspect-ratio: 437/201;
    width: 100%;
    height: 100%;
    object-fit: cover;
}