@use "global" as *;

.single__mv {
  background-image: url(../images/common/blog-sp.jpg);
  @include mq(md) {
    background-image: url(../images/common/blog-mv.jpg);
  }
}
.single__title-block {
  padding: rem(4) 0;
}
.single__title {
  font-size: rem(24);
  font-weight: $medium;
  width: 100%;
  border-bottom: 1px solid $accent;
  @include mq(md) {
    font-size: rem(32);
  }
}
.single__date {
  font-size: rem(14);
  @include mq(md) {
    font-size: 1rem;
  }
}
.single__main {
  @include mq(md) {
    margin-top: rem(22);
  }
}
.single__img {
  max-width: rem(600);
  width: 100%;
  margin: auto;
    @include mq(md) {
    max-width: rem(700);
  }
}
.single__img img {
  aspect-ratio: 700/469;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single__text-block {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.single__text {
  line-height: 1.5;
}
.single__item {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.single__list::before {
  content: "";
  background-image: url(../images/common/starfish-green.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(18);
  height: rem(18);
  display: inline-block;
  margin-right: rem(8);
}
.single__lists {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.single__list:not(:first-of-type) {
  margin-top: rem(4);
}
.single__side {
  margin-top: rem(88);
  @include mq(md) {
    margin-top: 0;
  }
}
.single__pagenavi .wp-pagenavi__next {
  margin-left: rem(82);
}