@use "global" as *;

.tab {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem rem(11);
  @include mq(md) {
      gap: 1rem rem(32);
  }
}
.tab__category:hover {
  background-color: $accent;
  color: $white;
}
.tab__category.is-active {
  color: $white;
  background-color: $accent;
}
.tab__category {
  display: flex;
  width: rem(162);
  height: rem(34);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: $accent;
  font-size: rem(14);
  line-height: rem(22);
  border: 1px solid $accent;
  transition: 0.3s color, 0.3s background-color;
}