@use "global" as *;

.title-en {
  font-size: rem(32);
  text-align: center;
  font-weight: $regular;
  font-family: $english-font;
  @include mq(md) {
    font-size: rem(40);
  }
}
.title-en::first-letter {
  text-transform: uppercase;
  color: $accent;
}
.title-ja {
  color: $accent;
  font-size: rem(12);
  line-height: 1.5;
  text-align: center;
}
.title-en.title-en--white {
  text-transform: capitalize;
  color: $font;
  @include mq(md) {
    color: $white;
  }
}
.title-en.title-en--white::first-letter {
  color: $accent;
  @include mq(md) {
      color: $white;
  }
}
.title-ja.title-ja--white {
  color: $accent;
  @include mq(md) {
    color: $white;
  }
}
.title-sub {
  font-size: rem(14);
  line-height: 1.2858;
  color: $accent;
  text-align: center;
  margin-top: rem(8);
}
