@use "global" as *;

.voice {
    @include mq(md) {
        position: relative;
    }
}
.voice__inner {
    max-width: rem(600);
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    @include mq(md) {
        position: relative;
    }
}
.voice__inner::before {
    @include mq(md) {
        content: "";
        background-image: url(../images/common/fish2.png);
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 26.6%;
        width: 100%;
        height: 30%;
        position: absolute;
        top: rem(-110);
        left: calc(50% - min(43vw, 60%));
    }
}
.voice__inner::after {
    @include mq(md) {
        content: "";
        background-image: url(../images/common/seahorse.png);
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 6.2%;
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: rem(-104);
        right: rem(25);
    }
}
.voice-card {
    margin-top: rem(45);
    @include mq(md) {
        margin-top: rem(29);
    }
}
.voice-card__list {
    max-width: rem(600);
    width: 100%;
    display: grid;
    gap: 4.8%;
    @include mq(md) {
        max-width: rem(1080) ;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        gap: 4%;
    }
}
.voice-card__items {
    width: 100%;
    display: block;
    padding: rem(14) rem(12) rem(24);
    background-color: $white;
    transition: .3s opacity;
    box-shadow: rem(2) rem(2) rem(10) rgba($color:#000, $alpha:0.25);
    @include mq(md) {
        padding: rem(13) rem(22) rem(24);
    }
}
.voice-card__items:hover {
    opacity: .6;
}
.voice-card__item {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: rem(13);
    @include mq(md) {
        font-size: rem(24);
    }
}
.voice-card__title-block {
    @include mq(md) {
        margin-top: rem(34);
    }
}
.voice-card__title h4 {
    margin-top: rem(4);
    font-weight: $medium;
    padding-bottom: rem(3);
    border-bottom: 1px solid $accent;
    @include mq(md) {
        margin-top: rem(7);
    }
}
.voice-card__categories {
    @include mq(md) {
        display: flex;
    }
}
.voice-card__text {
    margin-top: rem(15);
    line-height: 1.5;
    border-top: none;
    @include mq(md) {
        margin-top: rem(39);
    }
}
.voice-card__gender {
    font-size: rem(12);
    display: flex;
    align-items: end;
    margin-right: auto;
}
.voice-card__category {
    display: inline-block;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.83;
    color: $accent;
    border: 1px solid $accent;
    padding: rem(2) rem(11);
    @include mq(md) {
        display: flex;
        padding: rem(5) rem(15);
        margin-left: auto;
    }
}
.voice-card__img {
    width: rem(151);
    height: rem(117);
    margin-top: rem(8);
    position: relative;
    @include mq(md) {
        width: rem(180);
        height: rem(140);
    }
}
.voice-card__img .color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $accent;
}
.voice-card__img img {
    aspect-ratio: 151/117;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 180/140;
    }
}
.voice__btn {
    margin-top: rem(78);
    text-align: center;
}
// .voice--bg2 {
//     @include mq(md) {
//         max-width: 6.2%;
//         width: 100%;
//         position: absolute;
//         bottom: rem(-70);
//         right: rem(25);
//     }
// }
// .voice--bg2 img {
//     @include mq(md) {
//     aspect-ratio: 71/162;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     }
// }
.voice__card-category .card__title {
    margin-top: rem(5);
}