@use "global" as *;

.voice {
    position: relative;
}
.voice-top {
    margin-top: rem(80);
    @include mq(md) {
        margin-top: rem(150);
    }
}
.voice__title {
    margin-top: rem(-30);
}
.voice__inner {
    max-width: rem(600);
    width: 100%;
    @include mq(md) {
    }
}
.voice__img {
    @include mq(md) {
        height: auto;
        margin-right: auto;
        margin-left: auto;
        padding-right: $margin-pc;
        padding-left: $padding-sp;
    }
}
.voice-card {
    margin-top: rem(45);
    @include mq(md) {
        margin-top: rem(32);
    }
}
.voice-card__list {
    max-width: rem(600);
    width: 100%;
    display: grid;
    gap: 4.8%;
    @include mq(md) {
        max-width: rem(1120) ;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        gap: 4%;
    }
}
.voice-card__items {
    width: 100%;
    display: block;
    padding: rem(15) 1rem rem(24);
    background-color: $white;
    box-shadow: rem(2) rem(2) rem(10) rgba($color:#000, $alpha:0.25);
    @include mq(md) {
        padding: rem(13) rem(22) rem(24);
    }
}
.voice-card__item {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: rem(13);
    @include mq(md) {
        font-size: rem(24);
    }
}
.voice-card__title-block {
    @include mq(md) {
        margin-top: rem(34);
    }
}
.voice-card__title h4 {
    margin-top: rem(2);
    font-weight: $medium;
    padding-bottom: rem(3);
    border-bottom: 1px solid $accent;
    @include mq(md) {
        margin-top: rem(7);
    }
}
.voice-card__categories {
    @include mq(md) {
        display: flex;
    }
}
.voice-card__text {
    margin-top: 1rem;
    line-height: 1.5;
    border-top: none;
    @include mq(md) {
        margin-top: rem(39);
    }
}
.voice-card__gender {
    font-size: rem(12);
    display: flex;
    align-items: end;
    margin-right: auto;
    @include mq(md) {
        margin-right: auto;
    }
}
.voice-card__category {
    display: inline-block;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.83;
    color: $accent;
    border: 1px solid $accent;
    padding: rem(2) rem(11);
    @include mq(md) {
        display: flex;
        padding: rem(5) rem(15);
    }
}
.voice-card__img {
    width: rem(151);
    height: rem(117);
    margin-top: rem(8);
    position: relative;
    @include mq(md) {
        width: rem(180);
        height: rem(140);
    }
}
.voice-card__img .color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $accent;
}
.voice-card__img img {
    aspect-ratio: 151/117;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 180/140;
    }
}
.voice__btn {
    margin-top: rem(70);
    @include mq(md) {
        margin-top: rem(80);
    }
}
.voice--bg {
    @include mq(md) {
        width: rem(301);
        height: rem(138);
        position: absolute;
        top: rem(-109);
        left: rem(102);
    }
}
.voice--bg img {
    @include mq(md) {
    aspect-ratio: 301/138;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.voice--bg2 {
    @include mq(md) {
        width: rem(71);
        height: rem(162);
        position: absolute;
        bottom: -70px;
        right: 178px;
    }
}
.voice--bg2 img {
    @include mq(md) {
    aspect-ratio: 71/162;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}