@use "global" as *;

.wp-pagenavi {
	margin-top: rem(88);
	text-align:center;
}

.wp-pagenavi a, .wp-pagenavi span {
	color: $accent;
	background-color: $white;
	border: 1px solid $accent;
	padding: rem(7) rem(14);
	margin: 0 rem(2);
	white-space: nowrap;
	-moz-border-radius: rem(3);
	-webkit-border-radius: rem(3);
	border-radius: rem(3);
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
	width: 100%;
	@include mq(md) {
    padding: rem(7) rem(15);
  }
}
.wp-pagenavi a:hover {
	color: $white;
	background-color: $accent;
}
.wp-pagenavi span.current{
	color: $white;
	background-color: $accent;
	font-weight: bold;
}
.wp-pagenavi .u_desktop {
	display: none;
	@include mq(md) {
    display: inline;
  }
}